<div class="message-section">
    <form class="add_message_form" action="<%= API_URL %>wall/post_message" method="POST">
        <label for="message">Post a Message</label>
        <textarea name="message" id="message" cols="120" rows="10"></textarea>
        <input type="submit" value="Post a message">
    </form>

    <%- include("../partials/messages.partial.ejs") %>
</div>
